project/workflows/Workflow 3 - Click Event Tracking.json
{
  "name": "Workflow 3 - Click Event Tracking",
  "nodes": [
    {
      "parameters": {
        "path": "phishing-click",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d0c07402-c2f0-4291-80dc-c29de7220545",
      "name": "Webhook",
      "webhookId": "a9d3c85e-facf-4cab-aa42-ee7224ec5b91"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (\n  user_id,\n  campaign_id,\n  event_type,\n  event_time,\n  ip,\n  user_agent,\n  country\n)\nVALUES (\n  '{{ $json.query.uid }}',\n  '{{ $json.query.cid }}',\n  'click',\n  NOW() AT TIME ZONE 'America/Argentina/Buenos_Aires',\n  '{{ $json.headers[\"cf-connecting-ip\"] || \"\" }}',\n  '{{ $json.headers[\"user-agent\"] || \"\" }}',\n  '{{ $json.headers[\"cf-ipcountry\"] || \"\" }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        0
      ],
      "id": "d3313ddb-814d-44a5-89c1-d790adecec5d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "DWD2gO6TUKWYVtJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Hooklight | Micro-Capacitación</title>\n\n<style>\n   \n    :root {\n        --primary-color: #1f3c88;\n        --primary-hover: #163172;\n        --danger-color: #d32f2f;\n        --danger-bg: #ffebee;\n        --danger-border: #ffcdd2;\n        --bg-color: #f4f6f9;\n        --card-bg: #ffffff;\n        --text-main: #2c3e50;\n        --text-muted: #546e7a;\n    }\n\n    body {\n        margin: 0;\n        font-family: system-ui, -apple-system, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n        background-color: var(--bg-color);\n        color: var(--text-main);\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        min-height: 100vh;\n        padding: 20px;\n        box-sizing: border-box;\n    }\n\n    .container {\n        background: var(--card-bg);\n        width: 100%;\n        max-width: 800px;\n        padding: 40px;\n        border-radius: 16px;\n        box-shadow: 0 10px 40px rgba(0,0,0,0.08);\n        border-top: 6px solid var(--danger-color);\n    }\n\n    .header {\n        text-align: center;\n    }\n\n    .logo {\n        height: 50px;\n        margin-bottom: 20px;\n        object-fit: contain;\n    }\n\n    h1 {\n        color: var(--primary-color);\n        margin: 0 0 15px 0;\n        font-size: 28px;\n    }\n\n   \n    .alert {\n        background-color: var(--danger-bg);\n        color: var(--danger-color);\n        border: 1px solid var(--danger-border);\n        padding: 16px;\n        border-radius: 8px;\n        margin: 0 0 30px 0;\n        font-weight: 600;\n        font-size: 18px;\n        text-align: center;\n    }\n\n    .intro-text {\n        text-align: center;\n        margin-bottom: 35px;\n        line-height: 1.6;\n        color: var(--text-muted);\n        font-size: 16px;\n    }\n\n    \n    .info-grid {\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        gap: 30px;\n        margin-bottom: 30px;\n    }\n\n    \n\n    .info-box {\n        background-color: #f8f9fa;\n        padding: 24px;\n        border-radius: 12px;\n        border: 1px solid #e9ecef;\n    }\n\n    .info-box h3 {\n        color: var(--primary-color);\n        margin-top: 0;\n        margin-bottom: 15px;\n        font-size: 17px;\n        border-bottom: 2px solid #e9ecef;\n        padding-bottom: 10px;\n    }\n\n    ul {\n        padding-left: 20px;\n        margin: 0;\n    }\n\n    li {\n        margin-bottom: 10px;\n        font-size: 14px;\n        line-height: 1.6;\n    }\n\n    .action-section {\n        text-align: center;\n        margin-top: 20px;\n    }\n\n    .button {\n        display: inline-block;\n        padding: 14px 32px;\n        background-color: var(--primary-color);\n        color: #ffffff;\n        text-decoration: none;\n        border-radius: 8px;\n        font-weight: 600;\n        transition: all 0.3s ease;\n        border: none;\n    }\n\n    .button:hover {\n        background-color: var(--primary-hover);\n        transform: translateY(-2px);\n        box-shadow: 0 4px 12px rgba(31, 60, 136, 0.2);\n    }\n\n    .footer {\n        margin-top: 40px;\n        padding-top: 20px;\n        border-top: 1px solid #e9ecef;\n        font-size: 13px;\n        color: #95a5a6;\n        text-align: center;\n        line-height: 1.5;\n    }\n</style>\n</head>\n\n<body>\n\n<div class=\"container\">\n    <div class=\"header\">\n        <img src=\"hooklogo.png\" alt=\"Hooklight Logo\" class=\"logo\">\n        \n        <h1>Simulación de Phishing</h1>\n    </div>\n\n    <div class=\"alert\">\n        🎣 ¡Te pescamos! Has interactuado con un correo simulado.\n    </div>\n\n    <div class=\"intro-text\">\n        <p>Este ejercicio fue realizado por <strong>Hooklight</strong> para fortalecer la cultura de ciberseguridad. El objetivo no es sancionar, sino ayudarte a identificar señales de riesgo y mejorar la detección de correos fraudulentos.</p>\n    </div>\n\n    <div class=\"info-grid\">\n        <div class=\"info-box\">\n            <h3>🔍 Señales de alerta</h3>\n            <ul>\n                <li><strong>Remitente sospechoso:</strong> Dirección de correo ligeramente alterada.</li>\n                <li><strong>Urgencia injustificada:</strong> Presión para actuar inmediatamente o bajo amenaza.</li>\n                <li><strong>Enlaces falsos:</strong> URLs que no coinciden con el dominio oficial de la institución.</li>\n                <li><strong>Solicitudes inusuales:</strong> Pedido de credenciales o información confidencial.</li>\n            </ul>\n        </div>\n\n        <div class=\"info-box\">\n            <h3>🛡️ Buenas prácticas</h3>\n            <ul>\n                <li><strong>Verificar el origen:</strong> Confirmar siempre la dirección real del remitente.</li>\n                <li><strong>Inspeccionar enlaces:</strong> Pasar el cursor sobre los links antes de hacer clic.</li>\n                <li><strong>Cero credenciales:</strong> Nunca ingresar contraseñas desde enlaces recibidos por correo.</li>\n                <li><strong>Reportar:</strong> Avisar al equipo de sistemas sobre correos sospechosos.</li>\n            </ul>\n        </div>\n    </div>\n\n    <div class=\"action-section\">\n        <a href=\"#\" class=\"button\">Entendido</a>\n    </div>\n\n    <div class=\"footer\">\n        Proyecto académico de simulación automatizada de phishing<br>\n        Hooklight © 2026\n    </div>\n</div>\n\n</body>\n</html>",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        0
      ],
      "id": "ff3ff48e-e400-48ce-9ec3-eeeb5ed55efa",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec1bfba0-81db-46ee-aae1-35a67fab1f26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "512f1b25e6107beedf5aa4a44fded5de9af8071d22a37f48a67d3cff88b7cc17"
  },
  "id": "LDa6WdINuQpjaGIj",
  "tags": [
    {
      "updatedAt": "2026-03-18T13:48:46.207Z",
      "createdAt": "2026-03-18T13:48:46.207Z",
      "id": "LadjWhgUxsPU05bW",
      "name": "HOOKLIGHT"
    }
  ]
}